.mode-3{
    background-color: white;
    text-align: center;
    border: none;
    font-weight: bold;
    font-size: 30px;
    padding-top: 0;
    padding-bottom: 2px;
    margin-left: 50px;
    font-family: Montserrat;
    

}